_build.*
.sconsign.dblite
config.log
.sconf_temp
.cache
.pytest_cache
pytest_session.txt
.coverage
*.o
*.os
*.so
*.cfgc
*.pyc
doc/html
doc/xml
doc/*.tag
doc/*.inc
doc/doxygen.conf
lib/libmeas_extensions_simpleShape.*
tests/.tests
version.py
